* {
  box-sizing: border-box;
border: solid 1px g;
  
}

body {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  max-width: 1080px;
  min-width: 700px;
  margin: 0 auto;
  
  
}
/* ----------------------------------------------------- */

/* ----------------------HEADER----------------------------- */
.h-container {
  background-image: url(img/bgk-header.png);
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain, cover;
}
.nav-container {
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-div {
  display: flex;
}

.logo {
  margin-top: 0.5em;
  margin-left: 8em;
  width: 20px;
}
.logo-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 0.5rem;
  margin: 2.1em 0.7em;
}
div a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-right: 8em;
}
nav li {
  margin: 0 0.5em;
}
nav a {
  text-decoration: none;
  color: #00e0d0;
  font-weight: 400;
  font-size: 0.4rem;
  padding: 0.25em 0;
}
nav a:hover,
nav a:focus {
  color: #ffffff;
}
.h1-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h1-container h1 {
  color: #ffffff;
  font-size: 0.75rem;
  margin-top: 8em;
  margin-bottom: 2.5em;
}
.h1-container p {
  color: #ffffff;
  font-size: 0.5rem;
  margin-bottom: 5em;
  width: 450px;
  text-align: center;
}
.h-btn {
  background-color: rgba(255, 255, 255, 0.9);
}

/* -----------------------------MAIN------------------------ */




/*      ----------- section2------------------------ */



/*      ----------- section3------------------------ */


.col3  p, h4, h5 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
.col3 {
  padding-top: 3%;
}
.cole3 { 
  max-height: 450px;
  width: 780px;
  padding-top: 5%;
  padding-bottom: 5%;margin: auto;
}
.column3, .columnes3 {
  display: flex;
  text-align: center;
  font-size: 14px;
}
.columne3 {
  margin-top: 10%;
}
hr {
  width: 70px;
}

#col3 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}
/*-------------------section4------------------------------*/




/*-------------------section5------------------------------*/
.column5 {
  display: flex;
  padding: 0 15% 0 15%;
}
.column5b {    
  width: 120%;   
}
.column5b img {
  width: 80% ;
  height: 80%;
}
.column5c {
  width: 60%;
}
.figure1, .figure2, .figure3, .figure4, .figure5 {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-right: 30px;
}
#b {
  width: 25% ;
  height: 30%;  
}
.form-inner input, .form-inner textarea {
  width: 100%;
  line-height: 32px;
  font-family: 'Roboto', sans-serif;   
}
#submit {
  width: 30%; 
  height: 5%;
  color:#00ced1;
  border-color: #00ced1;
  background-color: #ffffff;
  font-size: 13px;
}
#a {
  margin-left: 160px;
}

/* ----------------------------FOOTER------------------------- */

.footer {
 font-size: 13px;
justify-content: center;
background-image: url(img/bgk-footer.png) ;
color: #ffffff;
height: 350px;
 justify-content: space-around;
 padding: 5% 15% 0 15%;
 font-family: "Ubuntu", sans-serif;
}
#footer {
  display: flex;
}
.footer1 {
  justify-content: space-between;
  display: flex;
  
}
   #foot2c {
  display: flex;
  justify-content: space-around;
}
.footer2 {
  display: flex;
  justify-content: flex-end;
}
.footer3 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
p .footer1a {
  text-align: center;
  justify-content: space-around;
  display: flex;
}
.footer1a, .footer2b {
  display: flex; 
}
.footer2c {
 
  display: inline-block;
 justify-content: center;
}

.fin1 input {
  background-color: transparent;
  font-size: 14px; 
 border-color: #ffffff;;
  height: 30px;

}
#tajam {
  font-size: 20px;
text-align: end;
color: #368181;
}
.fin2 { 
background-color: rgba(200, 200, 200, 0.9);

margin: 15px 15px 0px 15px ;
flex-grow: 3;
}
.foot23 {
 display: flex;
 justify-content: end;
 padding-top: 10%;
 flex-shrink: 20;
}
.footer1c {
  padding-left: 5%;
  padding-right: 10%;
}
#footer1c {
  text-align: start;
}
